.courseContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5;
  justify-content: center;
  padding: 10px;
  color: white;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .courseContainer {
    flex-direction: column;
    justify-content: center;
  }
}
.semesterFilter {
  margin: 10px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.semesterButton {
  background-color: black;
  border: 1px solid #daa520;
  color: #d9ab35;
  font-size: 16px;
  font-family: "Arial", sans-serif;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  text-align: center;
  width: 100px; /* Prevent buttons from shrinking too small */
}

.semesterButton:hover {
  background-color: #daa520;
  color: black;
  border-color: black;
}

.semesterButton:focus {
  outline: none;
  box-shadow: 0 0 0.51px 2px #daa520;
}

@media (max-width: 768px) {
  .buttonContainer {
    flex-direction: column; /* Stack buttons vertically on small screens */
    align-items: center;
  }
}
