.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: left;
  background-color: #000000;
  border-radius: 8px;
  border: 1px solid #daa520;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  color: #daa520;
}

.details {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}
h3 {
  color: white;
}
.resources {
  margin-top: 20px;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.resourceButton {
  background-color: #000;
  color: #daa520;
  border: 1px solid #daa520;

  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  atransition: background-color 0.3s ease, color 0.3s ease;
}

.resourceButton:hover {
  background-color: #daa520;
  color: #000;
}

.resourceButton:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}
